@use 'sass:map';
@use 'styles/core';


//
//	Brand Connector Demo / Modules / Spacing / Config
//


$config: () !default;
$use_defaults: true !default;


$config-defaults: ();


@if $use_defaults {
	$config: map.merge( $config, $config-defaults ) !global;
}
