.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  min-height: 90px;
  box-sizing: border-box;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 23px 0;
  box-shadow: 0 2px 3px 0 rgba(196, 196, 196, 0.5);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logoContainer {
  flex: 1;
}

.logoContainer img {
  margin: 2px 0;
}

.menuContainer {
  align-self: end;
}

.App-footer {
  margin-top: auto;
  min-height: 277px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footerItem {
  flex: 1;
  align-self: center;
  text-align: center;
  min-width: 250px;
  padding: 40px 40px;
}

.footerItem a {
  display: inline-block;
  margin: 0 5px;
}

.App-logo {
  width: 210px;
  height: auto;
  vertical-align: middle;
}

.pageWrapper {
  width: 100%;
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
  .pageWrapper {
    max-width: 600px;
  }
  .listContainer {
    max-width: 400px !important;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1300px) {
  .pageWrapper {
    max-width: 960px;
  }
  .listContainer {
    max-width: 800px !important;
  }
}

.contentContainer {
  padding: 50px 10px;
}

.listHeading {
  text-align: center;
}

.listContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: left;
}

.listTile {
  display: inline-block;
  margin : 10px;
  width: 380px;
  height: 400px;
}

.tileTitle {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}

a {
  text-decoration: none;
  color: #000 !important;
}

.detailsContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

@media only screen and (max-width: 1550px) {
  .detailsContainer {
    padding: 0 45px;
  }
  .backButton, .nextButton {
    height: 60px !important;
    width: 45px !important;
    padding: 12px 5px !important;
    text-align: center;
  }
}

.detailsImage {
  margin: 10px;
}

.detailsImage img {
  max-width: 661px;
  width: 100%;
}

.detailsInfo {
  margin: 10px;
  padding: 20px;
  flex:1;
}

.detailsInfo div {
  padding-bottom: 16px;
}

.detailsInfo h2 {
  color: #0019ff;
}

.detailsInfo label {
  color: #999;
  font-size: 16px;
}

.detailsInfo p {
  font-size: 24px;
  margin: 20px 0;
}

.detailsActions {
  margin-top: 60px;
}

.detailsActions button {
  margin-right: 20px;
  margin-bottom: 20px;
  height: 60px;
  font-size: 20px;
}

.button {
  width: 264px;
  height: 44px;
  padding: 11px 0 12px 0;
  border-radius: 30px;
  border: solid 2px #000;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  /* font-family: SFProDisplay; */
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
}

.button:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.button.primary {
  background-color: #1D00FB;
  border-color: #1D00FB;
  color: #fff;
}

.button.primary:hover {
  background-color: #180085;
  border-color: #180085;
}

.backButton, .nextButton {
  position: absolute;
  top: calc(50vh - 45px);
  height: 90px;
  width: 90px;
  background-color: #000;
  padding: 27px 33px 27px 33px;
  box-sizing: border-box;
}

.backButton:hover, .nextButton:hover {
  background-color: #2c2c2c;
}

.backButton {
  border-radius: 0 8px 8px 0;
}

.nextButton {
  right: 0;
  border-radius: 8px 0 0 8px;
}

.nextButton img {
  transform: rotate(180deg);
}
