
@use 'styles/modules' as *;

.overlay-tn {

	.overlay-fab-button-tn {
		display: flex;
		align-items: center; justify-content: center;
		background: linear-gradient( 234.79deg, color-get( ts-blue ) 37.73%, color-get( ts-blue-60 ) 118.69% ) !important;
		box-shadow: inset 0px 4px 8px color-get( ts-blue ) !important;
	}
}
