@use 'sass:map';
@use 'styles/core';


//
//	Brand Connector Demo / Modules / Grid / Config
//


$config: () !default;
$use_defaults: true !default;


$config-defaults: (
	default: (
		columns: 12,
		column-w: 68,
		gutter-w: 30
	),
	large: (
		columns: 12,
		column-w: 96,
		gutter-w: 48
	),
	small: (
		columns: 6,
		column-w: 72,
		gutter-w: 24
	),
);

@if $use_defaults {
	$config: map.merge( $config, $config-defaults ) !global;
}
