/* re-theme token negotiator directly. Alternatively, you can provide you own entire style sheet. */

.overlay-tn .overlay-content-tn {
  height: 412px !important;
}

.overlay-tn.light-tn .overlay-content-tn {
  border-radius: 18px !important;
}

.overlay-tn.light-tn .overlay-content-tn {
  border-top: 3px #303052 solid !important;
}

.overlay-tn.light-tn .overlay-content-tn .token-tn .title-tn, .overlay-tn.light-tn .overlay-content-tn .headline-tn {
  font-weight: 400 !important;
  font-size: 16px !important;
}
