@use 'styles/modules' as *;


//
//	TokenScript / UI / App / Menu
//


.a-menu {
	$a: &;

	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	z-index: 10;
	width: auto; height: auto;
	padding: grid-baseline(3) 0 grid-baseline(2);
	margin: 0; box-sizing: border-box;
	display: flex; flex-flow: column nowrap;
	color: color-get( --text );
	background-color: color-get( --bg );
	overflow: hidden;

	&_region {
		position: fixed; top: grid-baseline(11.25); right: 0; bottom: 0; left: 0; z-index: 90;
		display: flex; flex-flow: column nowrap; align-items: center;
		pointer-events: none;
		overflow-y: hidden;

		&:global(.-is-active) {
			pointer-events: auto;
			overflow-y: auto;
		}
	}

	&_nav {
		display: flex; justify-content: center;
		width: 100%;
		padding: 0 var(--grid-gutter-width); box-sizing: border-box;

		&-list {
			width: var(--grid-width); max-width: var(--grid-max-width);
			flex: 1 1 auto;

			> a {
				padding-left: 0; padding-right: 0;
			}
		}
	}
}


/**
 * 	Media Queries
 *	--------------------------------------------------
 */

/** Breakpoint:	Small ----------------------- */

@include breakpoint-for( small ) using ( $bp ) {

	.a-menu {
		$a: &;

		&_region {
			top: grid-baseline(9.25);
		}
	}
}
