@use 'styles/modules' as *;


//
//	Brand Connector Demo / UI / Components / Loader
//


@keyframes spin {
	to { transform: rotate( 360deg ); }
}

.c-loader {
	$c: &;

	display: flex;
	margin: grid-baseline(0.5);

	//	Elements

	&_icon {
		transform-origin: 50% 50%;
		animation: spin 3s linear infinite;
	}
}

