@use 'sass:map';
@use 'styles/core';


//
//	Brand Connector Demo / Modules / Breakpoints / Config
//


$config: () !default;
$use_defaults: true !default;


$config-defaults: (
	default: (
		dir: max,
		width: 1727,
		max: 80
	),
	large: (
		dir: min,
		width: 1728,
		max: 72
	),
	small: (
		dir: max,
		width: 960,
		max: 90
	),
);

@include core.set-state( 'breakpoint', default );

@if $use_defaults {
	$config: map.merge( $config, $config-defaults ) !global;
}
