
body {
    margin: 0;
}

.tn-auth-box {
    /*background: linear-gradient(90deg, rgba(229,196,150,1) 0%, rgba(255,255,255,1) 42%, rgba(253,254,254,1) 62%, rgba(131,203,200,1) 100%);*/
    background: linear-gradient(0deg, #000000 0%, #0C0A50 100%);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    top: 0;
}

.tn-auth-heading {
    background: rgba(40, 38, 114, 0.9) !important;
    padding: 20px;
}

.tn-auth-content {
    padding: 10px;
    text-align: center;
}

.tn-auth-box button {
    background: #001AFF;
    border-color: #001AFF;
    color: #fff;
    border-radius: 8px;
    height: 60px;
    margin-top: 30px;
    width: 120px;
    font-size: 16px;
    line-height: 1.5em;
}

.tn-auth-box button {
    background: #001AFF;
    border-color: #001AFF;
    color: #fff;
    border-radius: 8px;
    height: 40px;
    margin: 30px 10px;
    width: 120px;
    font-size: 16px;
    line-height: 1.5em;
}

#tn-access-deny {
    background: none;
}

<!-- Ticket List -->

#ticketList {
    width: 320px;
    margin: 50px auto;
}
.ticketContainer {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;
}
.ticketDetails {
    position: absolute;
    width: 100%;
}
.ticketClass {
    position: absolute;
    top: 12px;
    right: 16px;
}
.ticketId {
    position: absolute;
    top: 52px;
    right: 34px;
}
.devconId {
    position: absolute;
    top: 75px;
    right: 34px;
    font-size: 12px;
}
.ticketImg {
    width: 300px;
    text-align: right;
}
.authButton {
    position: absolute;
    top: 15px;
    right: 34px;
    text-align: center;
    background-color: #000;
    color: #FFF;
    border: none;
    font-weight: bold;
    font-size: 13px;
}

.authButton:hover {
    background-color: #494949;
}