@use 'styles/modules' as *;


//
//	TokenScript / UI / Components / Visually Hidden
//


.c-visually-hidden {
	$c: &;

	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	clip: rect( 0, 0, 0, 0 );
	position: absolute;
	border: 0;
	overflow: hidden;
	white-space: 'nowrap',
}
