html, body {
  background: rgb(229,196,150);
  background: linear-gradient(90deg, rgba(229,196,150,1) 0%, rgba(255,255,255,1) 42%, rgba(253,254,254,1) 62%, rgba(131,203,200,1) 100%);
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.makeTicket {
  cursor: pointer;
  border: 0;
  padding: 11px 10px;
  border-radius: 5px;
  color: white;
  transition: opacity .3s;
}

.makeTicket:hover { transition: opacity .3s; opacity: 0.7; }
.makeTicket:nth-child(1) { background-color: #667bbc; }
.makeTicket:nth-child(2) { background-color: #54bc7a; }
.makeTicket:nth-child(3) { background-color: #f58b77; }
.makeTicket:nth-child(4) { background-color: #0eafd2; }

h2 { margin: 20px; font-weight: 300; }
p { font-weight: 300; }

.logo { width: 32px; margin: 20px; }
.devcon_bogota { width: 300px; margin: 5px 0 20px 0; }
.flexCenter { display: flex; justify-content: center; text-align: center; }

/* TODO: move to negotiator */

/* Modal for handling input required by attestation.ID (wallet connection setup for instance) */
.modal-tn {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-close-tn {
    color: #ffffff;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.modal-close-tn:hover,
.modal-close-tn:focus {
    color: #696969;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.modal-header-tn {
    padding: 2px 16px;
    /*background-color: #5cb85c;*/
    color: white;
    width: 100%;
    position: relative;
}

.modal-body-tn {
    padding: 2px 16px;
    width: 100%;
}

.modal-body-tn iframe {
    width: 100%;
    min-height: 600px;
    background-color: #fff;
    border: 6px solid #696969;
    border-radius: 3px;
}

/* Modal Content */
.modal-content-tn {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;

    max-width: 600px;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}