@use 'sass:math';


//
//	Brand Connector Demo / Core / Units
//


$base-line:	8;
$base-size:	16;


/*
 *	PX -> EM Conversion
 *	--------------------------------------------------
 */

 @function em( $target, $context: $base-size ) {
	@return math.div( $target, $context ) * 1em;
}

@function rem( $target, $context: $base-size ) {
	@return math.div( $target, $context ) * 1rem;
}


/*
 *	Unitless
 *	--------------------------------------------------
 */

@function no-unit( $number ) {
	@return math.div( $number, $number * 0 + 1 );
}


/*
 *	Math
 *	--------------------------------------------------
 */

@function round-to( $number, $places: 0 ) {
	$n: 1;
	@if $places > 0 {
		@for $i from 1 through $places {
			$n: $n * 10;
		}
	}
	@return math.div( math.round( $number * $n ), $n );
}
