@use 'styles/modules' as *;


//
//	Brand Connector Demo / UI / Components / Field
//


.c-field {
	$c: &;

	max-width: 100%; width: 100%;
	margin-bottom: grid-baseline(3);

	//	Elements ----------------

	input[type] {
		&:focus {
			outline: 0;
		}
	}

	input[type] {
		@include type-size( 'f6', $margin: 0 );
		height: grid-baseline(8);
		border-radius: grid-baseline(1);
		padding: grid-baseline(2.5) grid-column(0.25);
		box-sizing: border-box;
		position: relative;
		color: color-get( --field-text );
		background-color: color-get( --field-bg );
		width: 100%;
		border: none;
		-moz-appearance: none;
		-webkit-appearance: none;

		&::placeholder {
			color: color-get( --field-text );
		}
	}

	&_message {
		@include type-size( 'f8' );
		color: color-get( --state-error );
	}
}
