@use 'styles/modules' as *;


//
//	TokenScript / UI / Components / Form / Field
//


.c-field {
	$c: &;

	max-width: 100%;
	margin-bottom: grid-baseline(3);

	//	Elements ----------------

	input[type], textarea {
		&:focus {
			outline: 0;
		}
	}

	input[type], textarea {
		@include type-size( 'f6', $margin: 0 );
		height: grid-baseline(7.5);
		border-radius: grid-baseline(1);
		padding: grid-baseline(2.5) grid-gutter(0.5);
		box-sizing: border-box;
		position: relative;
		color: color-get( --field-text );
		background-color: color-get( --field-bg );
		width: 100%;
		border: 1px solid color-get( --field-text, 0.2 );
		-moz-appearance: none;
		-webkit-appearance: none;

		&::placeholder {
			color: color-get( --field-text );
		}
	}

	&_message {
		@include type-size( 'f9' );
		color: color-get( --state-error );
		margin: 0;
	}
}
