@use 'styles/modules' as *;


//
//	Brand Connector Demo / UI / Components / Form / Field Input
//


.c-field-input {
	$c: &;

	// Styles
	&:global(.-style-underline) {

		input[type] {
			@include type-size( 'f5', $margin: 0, $responsive: true );
			height: auto;
			border-bottom: 1px solid color-get(--text);
			border-radius: 0;
			background-color: transparent;
			padding: 0 0 grid-baseline(1);
		}
	}
}
