
@use 'styles/modules' as *;


//
//	TokenScript / UI / Components / Slider
//


.c-slider {
	$c: &;

	box-sizing: border-box;
	position: relative;
	-webkit-tap-highlight-color: transparent;

	//	Elements

	&_panel {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: calc( 100% / var(--slider-cols, 1) );
	}
		&_slide {
			user-select: none;
			box-sizing: border-box;
			will-change: transform;

			&[class*="-t-"] {
				background-color: color-get( --bg );
			}

			> * {
				height: 100%;
			}

			a {
				-webkit-user-drag: none;
				user-select: none;
			}
			img {
				pointer-events: none;
				margin-right: auto; margin-left: auto;
			}
		}

	&_pager {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: grid-baseline(5);
		display: flex;
		flex-flow: row nowrap; align-items: center; justify-content: center;

		button {
			width: grid-baseline(1.5); height: grid-baseline(1.5);
			margin: 0 grid-baseline(0.5); padding: 0;
			appearance: none;
			border: 2px solid color-get( --bg );
			transition: background-color 0.2s;
			border-radius: 50%;
			z-index: 2;

			&.-is-current {
				background-color: color-get( --bg );
			}
		}
	}

	&_nav {
		position: absolute;
		top: 50%; right: 0; left: 0;
		transform: translateY(-50%);
		z-index: 50;
		width: 100%;
		margin-top: grid-baseline(-3.75);
	}
		&_next,
		&_prev {
			position: absolute; top: 0; right: 0;
			opacity: 0.1;
			pointer-events: none;
			transition: opacity 0.3s;
			will-change: transform, opacity;

			&.-is-active {
				opacity: 1;
				pointer-events: auto;
			}


			@media (hover: hover) {
				button {
					box-shadow: none;
				}
			}
		}

		&_next {
			button {
				--btn-radius: #{grid-baseline(1) 0 0 grid-baseline(1)};
			}
		}

		&_prev {
			position: absolute; right: auto; left: 0;

			button {
				--btn-radius:#{ 0 grid-baseline(1) grid-baseline(1) 0};
			}
		}

	// 	Styles

	// 	Formats

	// 	Sizes

	// 	States

	&.-is-enabled {
		cursor: grab;
		-webkit-user-drag: none;
		user-select: none;
		touch-action: pan-y;

			.c-card {
				-webkit-user-drag: none;
			}

			a {
				user-select: auto;
			}

		&:active {
			cursor: grabbing;
		}
	}

	&.-is-dragging {
		touch-action: none;
	}
}

/**
 * 	Media Queries
 *	--------------------------------------------------
 */

/** Breakpoint:	Small ----------------------- */

@include breakpoint-for( small ) using ( $bp ) {

	.c-slider {
		$c: &;

		margin-left: grid-gutter(-0.5); margin-right: grid-gutter(-0.5);

		&_slide {
			width: percentage(1); min-width: auto;
			padding: 0 grid-gutter(0.5);
		}

		&_prev {
			display: none;
		}
	}
}
