@use 'styles/modules' as *;


//
//	TokenScript / UI / Views / Request Tokens View
//


.v-request-tokens {
	$v: &;

	&_footer {
		&-link {
			display: grid;
			text-align: center;
			text-decoration: none;
		}
	}

	&_icon {
		color: color-get( white );
		padding: grid-baseline(1.5);
		border-radius: 50%;

		&-group {
			display: flex;
			gap: grid-gutter(0.75);
		}

		&-twitter {
			background-color: #21C0FC;
		}

		&-telegram {
			background-color: #1582EA;
		}

		&-discord {
			background-color: #5A5ED2;
		}

		&-linkedin {
			background-color: #1582EA;
		}
	}
}

/**
 * 	Media Queries
 *	--------------------------------------------------
 */

@media (hover: hover) {

	.v-request-tokens {
		$v: &;

		&_icon-group {
			> a {
				transition: opacity 0.3s;

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}

/** Breakpoint:	Small ----------------------- */

@include breakpoint-for( small ) using ( $bp ) {

	.v-request-tokens {
		$v: &;

		&_footer {
			gap: grid-baseline(2);

			> :last-child {
				order: -1;
			}
		}
	}
}
